<div class="wrapper">
  <table class="content">
    <thead>
      <tr>
        <td>
          <div class="logo">
            <%= link_to image_tag("logo.png"), root_url %>
          </div>
        </td>
      </tr>
    </thead>

    <% ticket_url = project_ticket_url(@project, @ticket) %>
    <tbody>
      <tr><td class="divider"></td></tr>
      <tr>
        <td>
          <h1>New Comment</h1>

          <%= @ticket.name %> for <%= @project.name %> has been updated.

          <p>
            <%= link_to "#{@project.name} - #{@ticket.name}", ticket_url %>
          </p>

          <p><%= @comment.author.email%> wrote:</p>

          <%= simple_format @comment.text %>
        </td>
      </tr>
      <tr><td class="divider"></td></tr>
      <tr>
        <td class="footer">
          You can view this ticket here:
          <%= link_to ticket_url, ticket_url %>
        </td>
      </tr>
    </tbody>
  </table>
</div>