<%= bootstrap_form_with(model: [project, ticket], local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %>
      prohibited this project from being saved:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name %>
  <%= form.text_area :description %>
  <%= form.file_field :attachment, label: "File" %>
  <% upload_url = upload_file_project_tickets_path(project) %>
  <div class="dropzone uploader mb-2" data-url="<%= upload_url %>"></div>
  <br>
  <%= form.primary %>
<% end %>
